# Python
*.py[cod]
*.env
.env
env/
*.sqlite3
*.db


# macOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so



.python-version


# DB　for Test
test.db
*.sqlite3
=======
# 依存モジュール
node_modules/

# ログ
yarn-debug.log*
yarn-error.log*

# ビルド出力
build/

# 環境変数
.env.local
.env.development.local
.env.test.local
.env.production.local

# エディタやOS依存ファイル
.DS_Store
.idea/


# テストカバレッジ
coverage/

# ロックファイル（必要に応じて）
package-lock.json
yarn.lock
